.container {
 //width: 100%;
  font-family: "Raleway", sans-serif;

  span {
    font-weight: 500;
    font-size: 40px;
  }

}




.information {
  height: 400px;
  overflow: hidden;
  font-weight: 500;


  h3 {
    font-size: 30px;
    font-weight: 500;
  }

  span {
    font-size: 22px;
  }
}

.link {
  font-size: 22px;
  color: #6E9C9F;
  text-decoration: none;

  &:hover {
    text-decoration: #6E9C9F underline solid;
    text-underline-offset: 4px;
  }
}

@media screen and (max-width: 770px){
  .container{
    img{
      height: 65vh;
      width: 95vw;
      overflow: hidden;
    }

  }

}
