.root {
  font-family: Raleway, sans-serif;
  //display: flex;
  //justify-content: center;
  //width: 100%;
  //gap: 20px;

  button {
    cursor: pointer;

    font-size: 17px;
    font-weight: 500;

    width: 190px;
    height: 62px;
    background: white;
    border: 1px black solid;
    transition: .5s ease;
    &.active {

      background: black;
      color: white;
      transition: .5s ease;

    }
  }
}
@media screen and (max-width: 770px) {
  .root{
    button {
      width: 90%;
    }
  }
}
