
.root{
  img {
    width: 100%;
    height: 100%;
  }
  font-family: Raleway,sans-serif;
  h1 {
    font-size: 45px;
    font-weight: 500;
  }

  .btn_shop{
      border: 1px solid;

      width: 248px;
      height: 68px;
      flex-shrink: 0;
    color: white;

  }

  .road{
    color: #909090;

    :first-child{
      text-decoration: none;
      color:black;
      cursor:pointer;
    }
  }
}

@media screen and (max-width: 770px) {
  img{
    width: 0.7em;
    height: 0.7em;
  }
}
