.root {
  font-family: Raleway,sans-serif;
  h1 {
    font-size: 45px;
    font-weight: 500;
  }

  .road{

      color: #909090;

    :first-child{
      text-decoration: none;
      color:black;
      cursor:pointer;
    }
  }

  .feedback{
    width: 50%;
  }

  .coordinates {
    width:500px;
  }
}
