.main_section {

  height: 100%;
  width: 100%;

}

//.wrapper {
//  padding-left: 150px;
//  padding-right: 150px;
//
//  height: 100%;
//  margin: 0 auto;
//
//}

.buttons {
  display: flex;

  button {
    width: 250px;
    height: 70px;
    background-color: #6E9C9F;
    color: white;
    border: none;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
  }
}

.information {

  display: flex;
  justify-content: space-between;


  &__left {
    display: inherit;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    background-color: white;
    margin-top: 5%;
  }

  &__right {

    width: 40%;
    height: 100vh;
    background: #F1EADC;
    position: relative;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.1);

  }

}


.first_women {
  position: absolute;
  width: 25.5vw;
  right: 100px;
  top: 100px;
  z-index: 1;
}

.second_women {

  position: absolute;
  top: 170px;
  right: 0;
  width: 14.5vw;
  z-index: 2;
}

.third_women {

  position: absolute;
  top: 350px;
  width: 14.5vw;
  right: 330px;
  z-index: 3;
}

.footer {
  background-color: #F1EADC;
  padding: 20px 0;
  width: 100%;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
  width: 100%;

}

.block_width {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .information {
    &__left{
      max-width: 100%;
    }
  }
}