.root {

  font-family: Raleway, sans-serif;
  //width: 100%;
  //margin-top: 54px;
}

.wrapper {
  padding-right: 150px;
  padding-left: 150px;
  height: 100%;

}

.name_section{
  font-size: 55px;
  font-weight: 500;
  margin-top: 120px;
  .road{
    display: flex;
    color: black;
    gap: 5px;
    font-size: 17px;
    font-weight: 500;


    :first-child{
      text-decoration: none;
      color: black;
    }
    :nth-child(2n){
      color: #919191FF;
    }
  }
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 65px;

.link {
  text-decoration: none;
  color:black;
}
}

.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer{
  background-color: #F1EADC;
  padding: 20px 0;
  width: 100%;
}

@media screen and (max-width: 727px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 728px) and (max-width: 989px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .items {
    grid-template-columns: repeat(3, 1fr); /* или другой нужный вам вариант */
  }
}